Relax the requirement on a single 'root' ULA prefix generated by stub router

Current text (-02) has:

> A stub router MUST allocate a single ULA prefix for use in providing on-link prefixes to the stub network and the infrastructure network, as needed.

However, there may be good reasons to deviate from this. Thread for example uses a generated prefix for the AIL that uses the 64 random bits of the Extended PAN ID of the Thread Network as the bits for the ULA prefix global ID and subnet ID. This has the benefit that a more stable ULA prefix is obtained on the AIL, in the presence of rebooting / changing stub routers.

Proposal here is to relax this requirement in some way by allowing a different (random) ULA prefix for the AIL.

Using a single ULA prefix may allow to implement the example procedure from [RFC 6724 section 10.6.][1], specifically the following part:

  > Since ULAs are defined to have a /48 site prefix, an implementation
  > might choose to add such a row automatically on a machine with a ULA.
  
[1]: https://www.rfc-editor.org/rfc/rfc6724#section-10.6

My impression was that ULA generation in SNAC was intended for local IPv6 connectivity inside a site.  I might be worth it to provide compatibility with existing specifications that cater to ULA use for IPv6 connectivity inside a site.

Best regards,
Erik

P.S. I do not know of any implementation of RFC 6724 section 10.6.

> Using a single ULA prefix may allow to implement the example procedure from [RFC 6724 section 10.6.](https://www.rfc-editor.org/rfc/rfc6724#section-10.6), specifically the following part:
> 
> > Since ULAs are defined to have a /48 site prefix, an implementation
> > might choose to add such a row automatically on a machine with a ULA.
> 
> My impression was that ULA generation in SNAC was intended for local IPv6 connectivity inside a site. I might be worth it to provide compatibility with existing specifications that cater to ULA use for IPv6 connectivity inside a site.
> 
> Best regards, Erik
> 
> P.S. I do not know of any implementation of RFC 6724 section 10.6.

The ULA that the SNAC router allocates is only ever going to be useful on the AIL, and the stub network.  There are no mechanisms proposed that would allow it to be used in other parts of the "site", which is a unmanaged home network.


> The ULA that the SNAC router allocates is only ever going to be useful on the AIL, and the stub network. There are no mechanisms proposed that would allow it to be used in other parts of the "site", which is a unmanaged home network.

Should a host connected to the AIL be able to reach hosts connected to the stub network? Could that combination of home router, end user host, and SNAC router with IoT stuff be considered a "site"?

The AIL == ADJACENT INFRASTRUCTURE NETWORK is the part of the site that the hosts you speak of are on, and the whole point of this effort is to permit that communication.  Of course, that can be considered a "site" if you like, but I spoke about *OTHER* parts of the site.

If one had a host implementation with RFC 6724 address selection, also implementing section 5 step 5.5 of that RFC, and also implementing the above mentioned section 10.6 procedure of that RFC, and if a SNAC router were using *only one ULA /48 prefix* to create subnet prefixes for all its links, then connectivity would just work. If any of those prerequisites are not fulfilled, connectivity depends on additional mechanisms or circumstances.

It seems to me as if creating new solutions in a way that would work well with a complete implementation of the Proposed Standard RFC 6724 might provide some incentive for implementers to implement more of that RFC. This might result in better working IPv6 networks.

> Current text (-02) has:
> 
> > A stub router MUST allocate a single ULA prefix for use in providing on-link prefixes to the stub network and the infrastructure network, as needed.
> 
> However, there may be good reasons to deviate from this. Thread for example uses a generated prefix for the AIL that uses the 64 random bits of the Extended PAN ID of the Thread Network as the bits for the ULA prefix global ID and subnet ID. This has the benefit that a more stable ULA prefix is obtained on the AIL, in the presence of rebooting / changing stub routers.
> 
> Proposal here is to relax this requirement in some way by allowing a different (random) ULA prefix for the AIL.

I am not sure I understand all the details of the problem. As far as I understand it, Thread creates (or can create) a ULA subnet prefix for the AIL. This is deterministically created from the "Extended PAN ID" and thus stable even when replacing the Thread router. So far, so good.

Then there seem to be *additional* ULA prefixes in play that are not on the AIL, and that are not created with the same ULA global ID. At least I think that something like this is the problem, but the issue report did not explicitly state this, so I do not know if this is correct. Anyway, I would have thought that it should be possible to use a ULA prefix created for one subnet, here the AIL, and deterministically create additional subnet IDs inside the same 48-bit prefix (e.g., take the 16-bit subnet ID of the AIL, increment it, and combine it with the 48-bit ULA global ID of the AIL). It seems as if Thread uses a different method to create additional ULA subnets (I do not know this, of course).

I do think that it would be great if a SNAC stub router were to generate all its ULA subnets from within a single ULA 48-bit prefix, because that would fit in with existing IETF Proposed Standard RFCs regarding the use of ULAs.

@auerswal Yes, correct, there are additional prefixes in play: each Thread stub router creates an on-mesh prefix for its Thread Network, if it doesn't have such on-mesh prefix yet configured. 
The idea is that a stub router can create a ULA on-mesh prefix entirely randomly for its stub network. And in general there may be multiple stub networks in a home. 

In one particular example topology you may e.g. have 2 stub networks, each with 1 stub router serving the stub network.
Now if the ULA on-mesh prefix is randomly created for stub network 1, then by definition (high likelihood) the on-mesh prefix for stub network 2 will be based on a different ULA prefix than the one of stub network 1.

If we want stub routers to allocate separate ULA subnets based on a common ULA prefix; then we would need some form of coordination I believe  between stub routers so that the subnet IDs are not conflicting. To avoid such functionality/complexity, a fully random prefix generation was used.

Maybe important to realize, not thinking about the Thread solution for the moment, that the following requirement

> A stub router MUST allocate a single ULA prefix for use in providing on-link prefixes to the stub network and the infrastructure network, as needed.

does not imply that the AIL ULA prefix and the on-mesh ULA prefix will share a same prefix. Because only 1 stub router gets to "force" its ULA prefix onto the AIL, and the other stub routers don't (because the AIL already has a prefix).
These other stub routers (not Thread but supposedly following the present spec) would just use their internally generated ULA prefix only to derive a ULA on-mesh prefix from, and not for setting the AIL prefix.

I'm still trying to understand if that gives some problems related to RFC 6724, or not! (will get back to that later)


@auerswal Thanks for the added detail (we need it, I think - I wasn't aware of this).

But thinking about the problem you identify: The snac-simple-02 text says the ULA is used to allocate prefixs "as needed". In Thread context, this is interpreted as only allocate the ULA prefixes if there is no other (e.g. automatic GUA, configured GUA, or configured ULA) prefix already present. So the automatic ULA generation only works as a last resort if there's *nothing* IPv6 enabling present on the AIL.  So the problem of having both GUA and ULA addressing wouldn't appear in such case?

Maybe the text "as needed" can use some clarification (we could create a separate issue for that).
It would be unwise for the stub router to automatically add prefixes if there already are IPv6 prefixes present.

I've now created the separate issue for "as needed" clarification: https://github.com/ietf-wg-snac/draft-ietf-snac-simple/issues/33

Based on email discussion, a conclusion is reached in this message (https://mailarchive.ietf.org/arch/msg/snac/IDvew688_weuF_ePVxfpEJskxv4/) at the end.

The requirement of having a single 'root' ULA prefix can be relaxed from MUST to SHOULD.

Because there can be multiple stub routers on a site (/home), and because each stub router would automatically and independently pick such a ULA prefix, it's impossible to get to the situation that the site would employ a single top-level ULA prefix from which all the stub network prefixes are derived.

So there will be anyway different prefixes in play (at AIL plus stubs) in case of multiple stub routers on multiple stub networks.

The SHOULD requirement helps to reduce the ULA prefix variation for the case of a single stub network on the site. I.e. avoid having needless variation.