Editorial review comments by Fernando

This item collects all the editorial review comments by @fgont in one item. 
From review: https://mailarchive.ietf.org/arch/msg/snac/_fMq9dPAXfchGn0mOi7PoGHIf_0/

Could be addressed by 1 PR?

**** Editorial ****

* I would move the "Glossary" section right after Section 1.


* It would be great to have some kind of diagram in SEction 1 where you
sketch how this all works. e.g., I started reading the document assuming
that what you'd describe leads to a tree-like graph, where upstream
routers advertise to downstream routers. BUt as I continued reading
(still not done), it seems that SNAC routers advertise on both
interfaces. Also, can you have multiple layers of SNAC routers?
(it'd be great to get this high-level picture in the intro itself).


* Section 1.1:
> DNS-based DNS Service Discovery [RFC6763].

s/DNS-based DNS/

* Section 1.1:
> For stub network hosts that only consume cloud services this will not
> be an issue, but for stub networks that provide services,

"Cloud resources" usually implies "Internet resources". But in this case
you probably also mean resources in e.g. the infrastruccture network, or
some other stub network?


* Section 2:
> Stub Network:  A network link that is connected by one or more Stub 
> Routers to an AIL an infrastructure network,

Writeo?


* Section 5:
> Support for AILS

s/AILS/AILs/


* Section 5.1.1:
> Note: there can be layer two networks where neighbor discovery


s/layer two/layer-two/
s/neighbor discovery/Neighbor Discovery/


* Section 5.1.1:
> A prefix is considered to be advertised on the link if, when a
> Router Solicitation message ([RFC4861], Section 4.1) is sent, a
> Router Advertisement message is received in response which contains a
> prefix information option ([RFC4861], Section 4.6.2) for that
> prefix.
> 
> After an RA message containing a suitable prefix has been received, 
> it can be assumed for some period of time thereafter that that
> prefix is still valid on the link.  However, prefix lifetimes and
> router lifetimes are often quite long.  In addition to knowing that a
> prefix has been advertised on the link in the past, and is still
> valid, we must therefore ensure that at least one router that has
> advertised this prefix is still alive to respond to Router
> Advertisement messages.

Is this different from "good ol' slaac"?


* Section 5.2.1:
> Thread SNAC routers use bits from the Thread Extended PAN ID to 
> generate the ULA prefix's Global ID and Subnet ID.

Appropriate refs for Thread?


* Section 5.3:
> If the SNAC router is advertising a suitable prefix on any interface,
> any such prefixes MUST be advertised on that interface in the same
> Router Advertisement message that is advertising the suitable prefix,
> to avoid unnecessary multicast traffic.

It was hard for me to parse this para. Does it mean that if you are
advertising a PIO on one interface, that same prefix must be advertised
via RIOs in the same RAs that advertise PIOs?  Something else?


* Meta:
The document uses "Wi-Fi" and "WiFi" inconsistently.


* Section 5.5.1:
> WiFi tethering

I'd probably ad a reference for it.


* Section 6:
> stub networks

s/stub/Stub/


* Section6:
>    enables IPv6 hosts on the stub network to discover and reach with
>    IPv4 hosts on infrastructure,

s/with// ?


* Section 6:
>    This should be acceptable because hosts on the infrastructure network
>    should not be IPv4-only, since the SNAC router is providing IPv6
>    service on the infrastructure network that is suitable for
>    communicating using IPv6 to hosts on the SNAC network--there should
>    not be any hosts on the infrastructure network that can't communicate
>    with hosts on the stub network unless such hosts do not have an IPv6
>    stack at all.

Sentence seems to long, and hence hard to parse. Suggest breaking it 
down into smaller pieces.


* Section 6:
> and the return
>    packet will be destined for that IPv4 packet

s/for that IPv4 packet/for that IPv4 address/


* Section 6:
> SNAC routers that are not able to advertise an
>    infrastructure NAT64 service MUST NOT do so

I find this one hard to "parse" ("if they are not able, they must not do 
it"? -- well, they can't anyway?)


* Section 6.1:
> provides NAT64 service to IPv4-only hosts on the internet

s/internet/Internet/


* Section 6.2:
>    DNS resolver on the SNAC router MUST honor the 'CD' and 'DO' flag
>    bits if received in a request, since this indicates that the stub
>    resolver on the requestor intends to do DNSSEC validation.

Please add references for these. (RFC3225 and RFC4035?)

Also, please add references to NAT64 and DNS64 where appropriate.


* Section 8.  Services Provided by SNAC routers
I'd move this section way to the front of the document. The reader 
should be able to get the large picture without having to read through 
all the specific details.


* Appendix A.3.1:
>    In the case a host that is attempting to communicate with a device
>    using a site ULA prefix on a different link may choose a ULA address
>    as a source address. 

There seems to be a grammar error here?


* Appendix B:
>    *  In the options, with the exception of the options listed below,
>       SNAC routers MUST NOT send any RA options, since these other
>       options are for managing the network,

I'd probably rephrase a bit...


* Appendix C:
> xref target="I-D.ietf-6man-snac-router-
>       bit" TBD 

Fix?



Waiting for the state-machines related update to go in first, prior to doing this editorial fixup.