Are the RA requirements for SNAC router only for RA beacons, or also unicast RAs?

A SNAC router implementation may choose to answer an RS with a unicast RA, instead of multicast RA (= RA beacon).
Some questions related to this
* is the unicast RA required to have the same RIOs/PIOs as the RA beacon? Or could it differ?
* if we write requirements for the RA beacon, do we want these same requirements also for unicast RAs?
* do we expect the SNAC router to always answer with multicast RA (=beacon) instead of unicast, or not?
* should we clarify in the text what the requirements for unicast RA are?


Unicast and Multicast RAs should be treated the same per 4861.

This question was asked before we did the work to implement #81 . The changes in response to that issue addressed all of the above questions, so this issue has been resolved.

@Abhayakara @twintersunh Agree that the latest text with RA message details clarifies this now. Just one final related question, given that RFC 4861 section 6.2.6 leaves some choice in responding via unicast or multicast:

```
   A router MAY choose to unicast the
   response directly to the soliciting host's address (if the
   solicitation's source address is not the unspecified address), but
   the usual case is to multicast the response to the all-nodes group
```

This gives a slight preference to responding with RA beacon. Does this apply equally to a SNAC router? I assume yes so that we don't have to say anything about it in the draft.

