"suitable route" is unclear in 5.1.2.2.2

From review: https://mailarchive.ietf.org/arch/msg/snac/_fMq9dPAXfchGn0mOi7PoGHIf_0/

> 5.1.2.2.2.  Router Unreachability Detection
> 
> For each suitable route, the SNAC router MUST monitor the state of 
> reachability to the router(s) that advertised it as described in 
> ([RFC4861], Section 7.3.1) using a ReachableTime value of no more 
> than MAX_SUITABLE_REACHABLE_TIME.  The reason for this is that if no 
> router providing the on-link prefix on the AIL is reachable, then 
> when a new host joins the network, it will have no suitable on-link

I'm a bit confused here. -- i.e., the connection between the RIO and the
on-link prefix.... (or did you mean "suitable router" rather than
"suitable route"?)

Addition by @EskoDijk : I also don't fully understand the text. It seems that (rather than routes), the device needs to monitor "routers providing a suitable prefix in PIO". If none are reachable, it starts advertising its own suitable prefix in PIO.
"suitable route" is not defined anywhere.
