More security considerations for SNAC router? Refer to RFC 6105 / 7113 ?

From review: https://mailarchive.ietf.org/arch/msg/snac/_fMq9dPAXfchGn0mOi7PoGHIf_0/

Section 10.  Security Considerations

> 
>    Because a SNAC router operates as an IPv6 router that sends and
>    receives IPv6 Neighbor Discovery protocol messages, the security
>    considerations of Section 11 of [RFC4861] apply.  No additional
>    security considerations are identified.

Looks like the mechanism where to SNAC routers advertise different 
prefixes and one of them is picked does introduce a new attack vector, 
-- Nothing I should worry about since in ND and SLAAC messages are 
generally trusted.
I guess the usual advice of using RFC6105/RFC7113 would apply here?


We do actually mention RA Guard in Appendix A. It might be worth clarifying that if DHCPv6 PD is available and hairpinning/redirect works, RA guard might not completely break stub routing, but this is not a security consideration.

We could mention the attacks on AIL and on stubnet.
* AIL suitable prefix: could lead to a cycle of publish/unpublish for the SNAC router
* stubnet prefix: if we only want 1 on-link/on-mesh prefix at a time, an attacker SNAC router can force the other prefix out maybe (depending on rules for withdrawal).

The DHCPv6-PD with hairpinning is now mentioned briefly in Appendix A.3, without using the wording "hairpinning" as such. It just says that in a managed network with RA-Guard and DHCPv6-PD the routing to the delegated prefixes will work.